<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233864747891-bjuq65b38b25sbe075861nb562mtsb94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233864747891-bjuq65b38b25sbe075861nb562mtsb94</string>
	<key>API_KEY</key>
	<string>AIzaSyAywRgMg1t2cHB3JGdPsq-xXwrh45LUQeU</string>
	<key>GCM_SENDER_ID</key>
	<string>233864747891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vandream.dreammarket</string>
	<key>PROJECT_ID</key>
	<string>flutter-update-d7873</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-update-d7873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233864747891:ios:1347919fb9dcd87e9a8306</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-update-d7873-default-rtdb.firebaseio.com</string>
</dict>
</plist>